openapi-python-client
transformers # git+https://github.com/huggingface/transformers
langchain
huggingface_hub
ipywidgets
chromadb
google-search-results
Xformers
tiktoken
openai
git+https://github.com/ai-forever/Kandinsky-2.git
git+https://github.com/openai/CLIP.git
opencv-python
pyiqa
fastapi
uvicorn[standard]